<html lang="de">
<head>
<title>Nicolas' Rezeptbuch</title>
<meta name="description" content="Meine Lieblingskochrezepte" />
</head>
<body>
<ul>
    {{#each recipes}}
    <li><a href="./{{this}}.html">{{this}}</a></li>
    {{/each}}
</ul>
</body>
</html>